img, span, .list-container, .page-container, .carousel-container,
.left, .thumbnail-container, .right, .thumbnail, .image,
.title, .ratings-container, .rating, .reviews,
.price-prime-container, .price, .prime, .thumbnail-list, .page,
.start-over, .button, .loading, .divider {
  display: flex;
}

span {
  color: blue;
}

.list-container, .thumbnail {
  height: 340px;
  flex-flow: column;
  width: 84%;
  border: 1px dotted black;
}

.page-container {
  flex-flow: row-reverse;
  margin: 5px;
}

.carousel-container {
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.thumbnail-list {
  height: 300px;
  width: 80%;
  overflow: scroll;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 160px;
  width: 160px;
}

.thumbnail {
  height: 280px;
  width: 160px;
  margin: 0px 5px;
  padding: 0px 5px;
  border: 1px dotted red;
}

.button {
  height: 50px;
  width: 50px;
  border: 1px dotted blue;
  border-radius: 5%;
  margin: 5px;
  justify-content: center
  flex-grow: 1;
}